@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo album - MongoDB</h1>
    <p class="lead">The project for the NoSQL classess with the usage of MongoDB.</p>
    <p><a href="@Url.Action("Create","Album")"  class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>
